#banner
  .banner_content
    %h1 NOTEBOOK
    %p Your Online writer. Keeping your references
    %button=link_to 'Sign Up', new_user_registration_path

#testimonial
  .wrapper
    %p.quote "Notebook which is the software which is now available to you online. <br> You don’t have to install any software, it works within your browser. <br> It is a basic version and doesn’t have all the bells and whistles of the version , <br> but it is very useful for official use or being able to get on any computer linked to the internet and <br> be able to work on your ‘Notebook’ files."

#bottom_cta
  .wrapper
    %h2 Signup
    %p For Your Online Notes
    %button=link_to 'Get Started', new_user_registration_path
%footer
  %p &copy Mohan Krishna


