#banner
  .banner_content
    %h1 NOTEBOOK
    %p Your Online writer. Keeping your references
    %button=link_to 'Sign Up', new_user_registration_path

#testimonial
  .wrapper
    %p.quote "Fantastic Online tool for your future Reference"
    %p.name - Mohan Krishna

#callouts
  .wrapper
    .callout
      %h2 WHAT?
      %p "Notebook which is the software which is now available to you online. <br> You don’t have to install any software, it works within your browser."
    .callout
      %h2 HOW?
      %p "It is a basic version and doesn’t have all the bells and whistles of the version. <br> But it is very useful for official use or being able to get on any computer linked to the internet."

#bottom_cta
  .wrapper
    %h2 Signup
    %p For Your Online Notes
    %button=link_to 'Get Started', new_user_registration_path
%footer
  %p &copy Mohan Krishna


